<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <div class="card">
        <div class="card-body">
          <div class="row p-3">Selamat Datang App di Sewa Gedung</div>
          <a href="/home" class="btn btn-primary">Home</a>
          <a href="/gedung" class="btn btn-primary">Gedung</a>
          <a href="/login" class="btn btn-success">Login</a>
          <a href="/register" class="btn btn-warning">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
