<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body">
      <h4>Login</h4>
      <div class="mb-3">
        <!-- email -->
        <div class="row">
          <div class="col-sm-4 col-form-label">
            <label for="staticEmail">Email</label>
          </div>
          <div class="col-sm-8">
            <input
              type="email"
              class="form-control"
              name="email"
              id="inputEmail"
              required
            />
          </div>
        </div>
        <br />
        <!-- password -->
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-4 col-form-label"
            >Password</label
          >
          <div class="col-sm-8">
            <input
              type="password"
              name="password"
              class="form-control"
              id="inputPassword"
              required
            />
          </div>
        </div>
        <!-- submit -->
        <div class="row mx-1 mt-4">
          <input
            type="submit"
            onclick="submit(event)"
            value="Login"
            class="btn btn-primary w-100"
          />
        </div>
        <!-- Register -->
        <div class="row mx-1 mt-2">
          <a href="/register" class="btn btn-success">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function submit(e) {
    let emailV = $("#inputEmail").val();
    let passwordV = $("#inputPassword").val();

    e.preventDefault();

    if (emailV == "" && passwordV == "") {
      return Swal.fire({
        icon: "error",
        title: "Gagal",
        text: "Email/Password wajib diisi!",
      });
    }

    $.ajax({
      url: "/cek-login",
      method: "POST",
      data: {
        email: emailV,
        password: passwordV,
      },
      success: function (data) {
        console.log(data);
        const { id, name, level, nomor_hp } = data;

        const myUser = {
          id: id,
          name: name,
          level: level,
          nomor_hp: nomor_hp,
        };

        localStorage.setItem("user", JSON.stringify(myUser));

        if (level === "user") {
          return (window.location.href = "/home");
        } else if (level === "admin") {
          return (window.location.href = "/admin");
        }
      },
      error: function () {
        Swal.fire({
          icon: "error",
          title: "Gagal",
          text: "Email/Password Anda salah!",
        });
      },
    });
  }
</script>
