<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img
      src="https://static.thenounproject.com/png/2507702-200.png"
      width="7%"
    />
    <a class="navbar-brand" href="#">Penyewaan Gedung</a>
    <button
      class="navbar-toggler"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/home">Home</a>
        <a
          class="nav-link"
          onclick="goToLogin()"
          id="navbar-login"
          style="cursor: pointer"
          >Login</a
        >
        <a
          class="nav-link"
          onclick="goToPesanan()"
          id="navbar-pesanan"
          style="cursor: pointer"
          >Pesanan Saya</a
        >
        <a
          class="nav-link"
          onclick="logout()"
          id="navbar-logout"
          style="cursor: pointer"
          >Logout</a
        >
      </div>
    </div>
  </div>
</nav>

<script>
  let user = JSON.parse(localStorage.getItem("user"));

  if (user == null) {
    $("#navbar-pesanan").hide();
    $("#navbar-logout").hide();
  } else {
    $("#navbar-login").hide();
  }

  function logout() {
    localStorage.removeItem("user");
    window.location.href = "/";
  }
  function goToLogin() {
    window.location.href = "/login";
  }
  function goToPesanan() {
    console.log("masuk");
    return (window.location.href = `/pemesanan?usersId=${user.id}`);
  }
</script>
